/* CSS personalizado */
/* Estilos de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 9999px; /* Hace que el pulgar sea redondeado */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del pulgar de la barra de desplazamiento al pasar el cursor sobre él */
}


/* CSS personalizado */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 9999px; /* Hace que el pulgar sea redondeado */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del pulgar de la barra de desplazamiento al pasar el cursor sobre él */
}

@media (max-width: 400px) {
    .card-correction {
      margin-left: 1rem;
    }
  }